<h1>All sales</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Discount</th>
      <th>Active</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
        <tr>
        <td><%= link_to sale.title, edit_sale_path(sale) %></td>
        <td><%= number_to_percentage(sale.discount, precision: 0) %></td>
        <td><%= sale.active? ? "Yes" : "No" %></td>
        <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale', new_sale_path %>
